<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.auth.demo.mapper.user.VerifyMapper">

    <insert id="addVerifyInfo" parameterType="com.example.auth.demo.entity.user.VerifyInfo">
        insert into verifyinfo (id,common_id,department_id,name,sex,age,faceimgpath,createtime) VALUES (#{id},#{common_id},#{department_id},#{name},#{sex},#{age},#{faceimgpath},NOW());
    </insert>

    <select id="getDepartments" resultType="com.example.auth.demo.entity.common.Department">
        SELECT * FROM department;
    </select>

</mapper>